root = true

[*]
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
max_line_length = 140
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.yaml]
indent_size = 2

[*.sh]
indent_size = 2

[*.yml]
indent_size = 2
