name: Publish Release
on:
  push:
    branches:
      - master

jobs:
  semantic-release:
    name: Semantic release
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          registry-url: 'https://registry.npmjs.org'

      - name: Cache node modules
        uses: actions/cache@v4
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-node-

      - name: Install modules
        run: npm i --prefer-offline --no-audit

      - name: Release
        run: npm run release
        env:
          GH_TOKEN: ${{ secrets.PAT_GITHUB_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.PAT_GITHUB_TOKEN }}
          GIT_AUTHOR_NAME: semantic-release-bot
          GIT_AUTHOR_EMAIL: semantic-release@bot.com
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
